html
{
     background: #F8F4E1;
     color: #543310
}

ul
{
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     background-color: #333;
     position: -webkit-sticky; /* Safari */
     position: sticky;
     top: 0;
}
.button{
  background-color: gr;
  border: none;
  color: #543310;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}
a{
  text-decoration: none;
}

b1
{
     font-size: 180%;
     font-family: 'Georgia';
     text-indent: 2px;
}
h2{
     font-size: 200%;
     font-family: 'Georgia';
}
.header {
     overflow: hidden;
     background-color: #F8F4E1;
     padding: 60px 40px;
     border-radius: 12px;
     color: #543310;
   }
   .header logo{
    float: left;
     color: #543310;
     text-align: center;
     padding: 12px;
     text-decoration: none;
     font-size: 60px;
     line-height: 25px;
     border-radius: 4px;
     font-family: 'Georgia';
     font-weight: bold;
     font-style: italic;
     text-shadow: 2px 2px 4px #A67B5B;
     
   }
   /* Style the header links */
   .header a {
     float: left;
     color: #543310;
     text-align: center;
     padding: 12px;
     text-decoration: none;
     font-size: 22.4px;
     line-height: 25px;
     border-radius: 4px;
     font-family: 'Georgia';
     font-style: italic;
   }
   
   /* Change the background color on mouse-over */
   .header a:hover {
     background-color: #AF8F6F;
     color: #543310;
   }
   
   /* Style the active/current link*/
   .header a.active {
     background-color: #543310;
     color: white;
     font-family: 'Georgia';
     font-size: 140%;
   }
   
   /* Float the link section to the right */
   .header-right {
     float: right;
   }
   
   /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
   @media screen and (max-width: 500px) {
     .header a {
       float: none;
       display: block;
       text-align: left;
     }
     .header-right {
       float: none;
     }
   }
hr{
    display: block;
    border-width: 2px;
    background-color: #543310;
}

