{%extends 'layout.html'%}
{%block content%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Feedback</title>
    
</head>
<body>
    <h1>All Feedback</h1>
    <ul>
        {% for username, content, plan, date in feedbacks %}
            <li>
                <strong>{{ date }}</strong> [{{ username }}]: 
                <br><strong>date:</strong> {{ plan }}
                <br><strong>Feedback:</strong> {{ content }}
            </li>
        {% endfor %}
        
    </ul>
    <a class="button" href="/">Home</a>
</body>

{%endblock%}