{% extends 'layout.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Feedback</title>
   
</head>
<body>
    <h1>All Feedback</h1>
    <ul>
        {% for username, content, plan, date in feedbacks %}
            <li>
                 [{{ username }}]: <strong>{{ date }}</strong>
                <br><strong>Plan:</strong> {{ plan }}
                <br><strong>Feedback:</strong> {{ content }}
            </li>
        {% endfor %}
    </ul>

</body>
</html>
{% endblock %}