{% extends 'layout.html' %}

{% block title %} PeakForm Academy {% endblock%}

{% block content %}

    <h1>Welcome to Our Dynamic Training Hub!</h1>

<P>Hey there, welcome to our vibrant training hub! It's where athletes of all ages and backgrounds come together to unleash their full potential. Whether you're a running enthusiast eager to conquer the pavement or a cycling aficionado craving the open road's rush, we're here to help you soar higher than ever before.</p>

<h1>Tailored Plans, Just for You</h1>

<p>With just a simple click, you can choose your sport and level of expertise, and dive into our curated selection of training regimes. Each plan is designed to propel you towards your goals, from dynamic warm-ups to targeted exercises and soothing cooldowns. We've crafted them with care to optimize your performance and boost your overall well-being.</p>

<h1>It's More Than Just Training</h1>

<p>But our journey doesn't end when you cross the finish line. Here, you'll document your progress, celebrate victories, and overcome obstacles with the support of a thriving community of like-minded individuals. After all, it's not just about the destination; it's about the journey, and we're here to support you every step of the way.</p>

<h1>Are You Ready to Start Your Adventure?</h1>

<p>So, are you ready to transform your passion into progress? Let's embark on this exhilarating adventure together. Welcome to PeakForm Academy – where greatness begins!</p>

<p>

</p>
<center><h2>Select one of the buttons below to choose the sport you want to train in or improve your skills:</h2></center>
<center>
  
<button class="button">
  <a href="/sport/1">Cycling</a>
</button>
<t>-</t>
<button class="button">
   
    <a href="/sport/2">Running</a>
</button>
<P></P>
    
</center>
<hr>
<p></p>
<img src="static/images/duathlon-running.jpg" width="24%" alt="running">
<img src="static/images/duathlon-cycling.jpg" width="24%%" alt="cycling">
<img src="static/images/duathlon-running2.jpg" width="24%" alt="running">
<img src="static/images/duathlon-cycling2.jpg" width="24%" alt="cycling">

{% endblock %}