{% extends 'layout.html' %}

{% block title %} PeakForm Academy {% endblock%}

{% block content %}
<h2>What PeakForm-Academy is for?</h2>
<b1>
    <p>Welcome to our vibrant training hub, where athletes of all ages and backgrounds converge to unlock their full potential. Whether you're a running enthusiast itching to conquer the pavement or a cycling aficionado craving the rush of the open road, we've got just what you need to soar to new heights.</p>

   <P>With a simple click, choose your sport and level of expertise, and dive into a curated selection of training regimes designed to propel you toward your goals. From dynamic warm-ups to targeted exercises and soothing cooldowns, each plan is crafted with care to optimize your performance and enhance your overall well-being.</p>
    
    <p>But the journey doesn't stop when you cross the finish line. Document your progress, celebrate your victories, and overcome obstacles with the support of a thriving community of like-minded individuals. Are you ready to transform your passion into progress? Let's embark on this exhilarating adventure together. Welcome to PeakForm Academy!</p>
</b1>
<b2>
<li1>
    <a href="/sport/1">cycling</a>
 </li1>
 <li2>
    <a href="/sport/2">running</a>
 </li2>
</b2>
    

<!-- nesesito hacer una pagina de introduccion y que tengfa links para los deportes -->

{% endblock %}