<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
  
</head>
<body>
  <header>
    <div class="header">
      
      <left><img src="/static/images/logo-PFA-none.png" width="5%" alt="logo">
      <logo>PeakForm-Academy</logo></left>
      <div class="header-right">
        <a class="button" href="/">Home</a>
        <a href="/DisplayFeedback" class="button">feedback</a>
        
      </div>
    </div>
  </header>
  <hr/>
  
  <main>
   
    {% block content %}{% endblock %}
  
  </main>
  
  <footer>   
  © PeakForm-Academy

  </footer>
</body>

</html>