{%extends 'layout.html'%}
{%block content%}
<!DOCTYPE html>
<html lang="en"> 

<body>
    <center><h1>{{ sports[1] }} - {{ level[1] }}</h1></center>
    

    {% if sports[0] == 2 and level[0] == 1 %}
    <div class="container tall-container">
        <div class="content left">
            <h2>first Plan</h2>
            <P>Overview:
                This beginner's 5K training plan is designed for those who are new to running or looking to ease back into it after a break. The plan spans 2-weeks, gradually building your endurance and strength to help you comfortably run a 5K (3.1 miles) by the end of the program. Each week includes a mix of walking and running, with rest days to ensure proper recovery.</P>
             <center><button class="button">
                 <a href="/plan/2/1/1">Plan 1 Easy {{ sports[1] }}</a>
             </button></center>
        </div>
    
        <div class="vertical-line"></div>
        <div class="content right">
            <h2>Second Plan</h2>
            <p>The Casual Park Runner's Plan is perfect for those who enjoy a relaxed approach to running and want to build or maintain a consistent running habit. This plan is designed for people who enjoy running as a way to stay active and unwind, without the pressure of a race or strict training regimen. The plan spans 2-weeks and includes a mix of running, walking, and rest days to promote a healthy, balanced lifestyle.</p>
            <center><button class="button">
                <a href="/plan/2/1/2">Plan 2 Easy {{ sports[1] }}</a>
            </button></center>
        </div>
    </div>
    
     
    {% endif %}
    
    {% if sports[0] == 2 and level[0] == 2 %}
    <div class="container tall-container">
        <div class="content left">
            <h2>First Plan</h2>
            <p>This Advanced Half Marathon Training Plan is tailored for experienced runners who want to improve their performance and achieve a personal best in their next half marathon. The plan spans 2-weeks, focusing on building speed, endurance, and strength through a mix of long runs, speed workouts, tempo runs, and cross-training. It's designed for runners who already have a solid base and can comfortably run 21km.</p>
            <center><button class="button">
                <a href="/plan/2/2/3">Plan 1 hard {{ sports[1] }}</a>
            </button></center>
        </div>
    
        <div class="vertical-line"></div>

        <div class="content right">
            <h2>Second Plan</h2>
            <p>The Advanced Speed Training Plan is designed for experienced runners aiming to improve their speed and overall performance in races ranging from 5K to half marathons. This 2-weeks program focuses on interval training, tempo runs, hill workouts, and sprints to develop speed, power, and agility. It’s suitable for runners who already have a solid mileage base and are looking to push their limits.</p>
            <center><button class="button">
                <a href="/plan/2/2/4">Plan 2 hard {{ sports[1] }}</a>
            </button></center>
        </div>
    </div>

    {% endif %}
    
    {% if sports[0] == 1 and level[0] == 1 %}
    <div class="container tall-container">
        <div class="content left">
            <h2>First Plan</h2>
            <p>Our Beginner's Road Cycling Plan is perfect for newcomers to the world of cycling or those looking to get back into it after a long break. This 2-weeks program is designed to gradually build your fitness, endurance, and confidence on the bike, allowing you to enjoy the freedom and health benefits of road cycling. Whether your goal is to complete a local charity ride, join group rides, or simply enjoy leisurely weekend rides, this plan will help you get there.</p>
            <center><button class="button">
                <a href="/plan/2/3/5">Plan 1 Easy {{ sports[1] }}</a>
            </button></center>
        </div>
    
        <div class="vertical-line"></div>
        <div class="content right">
            <h2>Second Plan</h2>
            <p>The Casual Urban Cycling Plan is ideal for those who want to incorporate more cycling into their daily routine in a relaxed and enjoyable way. This 2-week plan is designed for urban dwellers who use their bike for commuting, running errands, or leisurely rides around the city. It emphasizes short, manageable rides that fit seamlessly into your lifestyle, promoting fitness, reducing stress, and making city living more enjoyable.</p>
            <center><button class="button">
                <a href="/plan/2/3/6">Plan 2 Easy {{ sports[1] }}</a>
            </button></center>
        </div>
    </div>
     
        
    {% endif %}
    
    {% if sports[0] == 1 and level[0] == 2 %}
    <div class="container tall-container">
        <div class="content right">
            <h2>First Plan</h2>
            <P>this first plan is an Advanced Endurance Cycling Plan, designed for seasoned cyclists looking to push their limits and achieve peak performance. This plan focuses on building exceptional endurance, improving cardiovascular fitness, and enhancing overall cycling efficiency. Whether you're preparing for a long-distance event or simply aiming to boost your stamina, this plan will help you reach your goals.</P>
            <center><button class="button">
                <a href="/plan/2/4/7">Plan 1 hard {{ sports[1] }}</a>
            </button></center>
        </div>
    
        <div class="vertical-line"></div>
        <div class="content left">
            <h2>Second Plan</h2>
            <p>this second plan is an Advanced Interval Training Plan, specifically designed for experienced cyclists aiming to enhance their speed, power, and overall performance through high-intensity interval training (HIIT). This plan leverages the benefits of interval workouts to boost your anaerobic threshold, increase your VO2 max, and sharpen your competitive edge. Perfect for those targeting race preparation or seeking significant performance gains in a structured, time-efficient manner.</p>
            <center><button class="button">
                <a href="/plan/2/4/8">Plan 2 hard {{ sports[1] }}</a>
            </button></center>
            
        </div>
    </div>
    
    
        
    {% endif %}
</body>

<hr>
<p></p>

<center>
    <img src="/static/images/duathlon-running.jpg" width="24%" alt="running">
    <img src="/static/images/duathlon-cycling.jpg" width="24%" alt="cycling">
    <img src="/static/images/duathlon-running2.jpg" width="24%" alt="running">
    <img src="/static/images/duathlon-cycling2.jpg" width="24%" alt="cycling">
</center>
<p></p>


</html>
{%endblock%}
